<%= stylesheet_link_tag 'index', media: 'all' %>
<%= javascript_include_tag 'index' %>

<footer>
  <div class="container">
    <div class="row">
      <div class="footer-container">
        <div>
          <div class="fa-stack">
            <i class="far fa-circle fa-stack-2x"></i>
            <i class="fas fa-plus fa-stack-1x"></i>
          </div>
          <div>
            機能追加
          </div>
        </div>
        <div>
          <div class="fa-stack">
            <i class="fas fa-heart fa-stack-2x"></i>
            <i class="fas fa-exclamation fa-stack-1x icon-exclamation"></i>
          </div>
          <div>
            通知
          </div>
        </div>
        <div>
          <div class="fa-stack">
            <i class="fas fa-globe fa-stack-1x icon-globe"></i>
          </div>
          <div>
            ロケーション
          </div>
        </div>
        <div>
          <div class="fa-stack">
            <i class="far fa-handshake fa-stack-1x icon-handshake"></i>
          </div>
          <div>
            マッチ
          </div>
        </div>
        <div>
          <div class="fa-stack">
            <i class="far fa-newspaper fa-stack-1x icon-newspaper"></i>
          </div>
          <div>
            メディア
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>